<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bloomblissFrontEnd/css/home.css">
    <title>BloomBliss</title>
</head>
<body>
    <header>
        <img src="/bloomblissFrontEnd/img/simpele logo zonder achtergrond.png" class="logo">
        <h1 class="logoName">BloomBliss</h1>
    </header>
    <main>
        <h1>Mijn planten</h1>
        <section class="card">
            <img src="/bloomblissFrontEnd/img/pexels-cottonbro-studio-5858235.jpg" alt="foto van een monstera" class="cardImg">
            <h2>Monstera</h2>
        </section>
    </main>
    
</body>
</html>