<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bloomblissFrontEnd/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap" rel="stylesheet">
    <title>BloomBliss</title>
</head>

<body>
    <div class="overlay"></section>
        <section class="wrapper">
            <img src="/bloomblissFrontEnd/img/mascotte zonder achtergrond.png">
            <h1>BloomBliss</h1>
            <button>Start</button>
        </section>
    </div>
</body>
</html>